/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* GLOBAL VARIABLES */
:root {
    /* FONTS */
    --font-family: 'Poppins', sans-serif;
    --font-size-1: 2rem;
    --font-size-2: 1.5rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: .938rem;
    --font-size-6: .813rem;
    --font-size-7: .75rem;

    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;

    /* COLORS */
    --primary-color: hsl(246, 100%, 66%);
    --secondary-color: hsl(0, 0%, 73%);
    --background-primary-color: hsl(0, 0%, 23%);
    --background-secondary-color: hsl(0, 0%, 30%);
    --background-tertiary-color: hsl(36, 77%, 10%);
    --background-button-color: hsl(0, 0%, 43%);
    --background-color: hsl(36, 77%, 10%);
    --navbar-color: hsl(0, 0%, 70%);
    --text-color-light: hsl(0, 0%, 100%);
    --text-color-dark: hsl(0, 0%, 75%);
}

/* GENERAL STYLES & RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: 3rem;
    background-color: var(--background-primary-color);
    color: var(--text-color-dark);
}

body,
button,
input,
textarea {
    font-family: var(--font-family);
    font-size: var(--font-size-6);
}

h1,
h2,
h3 {
    font-weight: var(--font-weight-medium);
    color: var(--text-color-light);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

/* COMMON CSS CLASSES */
.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.section {
    padding: 2rem 0 1rem;
}

.section__title {
    position: relative;
    margin-bottom: 1.2rem;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
}

.section__title--center {
    text-align: center;
}

.section__title--primary {
    color: var(--primary-color);
}

.button {
    display: inline-flex;
    padding: .4rem 1.2rem;
    border-radius: .4rem;
    background-color: var(--background-button-color);
    color: var(--text-color-light);
    font-weight: var(--font-weight-medium);
    transition: .4s;
}

.button:hover {
    background-color: var(--primary-color);
}

/* HEADER */
.header {
    width: 100%;
    background-color: var(--background-secondary-color);
    box-shadow: 0 2px 7px rgba(90, 90, 90, 0.9);
}

.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    /* column-gap: .3rem; */
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-light);
}

.nav__logo--primary {
    color: var(--primary-color);
}

.nav__logo-icon {

}

.nav__menu {

}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.nav__list-item {

}

.nav__link {
    font-size: var(--font-size-5);
    color: var(--text-color-dark);
    /* font-weight: var(--font-weight-medium); */
}

.nav__link:hover {
    color: var(--primary-color);
}

.nav__link--active {
    font-weight: var(--font-weight-semibold);
    color: var(--primary-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: var(--font-size-2);

    cursor: pointer;
}

.nav__toggle {
    font-size: var(--font-size-3);
    cursor: pointer;
}


/* HOME */
.home {
    padding: 2.5rem 0 2rem;
}

.home__container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}

.home__title {
    /* margin-bottom: .2rem; */
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    line-height: 120%;
}

.home__title--center {
    text-align: center;
}

.home__title--primary {
    color: var(--primary-color);
}

.home-swiper {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.home__card {
    width: 250px;
    height: 350px;
}

.home__img {
}

/* SERVICES */
.services {

}

.services__container {
    display: grid;
    row-gap: .8rem;
}

.services__card {
    position: relative;
    padding: 1.5rem;
    text-align: center;
    background-color: var(--background-secondary-color);
}

.services__logo {
    display: inline-flex;
    justify-content: center;
    width: calc(2rem + var(--font-size-4));
    height: calc(2rem + var(--font-size-4));
    margin-bottom: .9rem;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.services__logo-icon {
    align-self: center;
    font-size: var(--font-size-4);
    color: var(--text-color-light);
}

.services__title {
    margin-bottom: .6rem;
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-light);
}

.services__description {
    font-size: var(--font-size-7);
}

/* ABOUT */
.about {

}

.about__container {
    display: grid;
    row-gap: 1.2rem;
}

.about__img {
    width: 95%;
    justify-self: center;
    align-self: center;
    border: 7px solid var(--secondary-color);
}

.about__data {
    align-self: center;
}

.about__title {
    margin-bottom: 1.2rem;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    text-transform: capitalize;
}

.about__description {
    font-size: var(--font-size-5);
    margin-bottom: 1rem;
}

/* GALLERY */
.gallery {

}

.gallery__container {
    display: grid;
    row-gap: .8rem;
}

.gallery__card {
    position: relative;
    padding: .4rem;
    text-align: center;
    background-color: var(--background-secondary-color);
    overflow: hidden;
}

.gallery__card:hover .gallery__header {
    top: 0;
}

.gallery__card:hover .gallery__img {
    filter: grayscale(.9);
}

.gallery__card:hover .gallery__footer {
    bottom: 0;
}

.gallery__header {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary-color);
    z-index: 10;
    transition: .4s;
}

.gallery__title {
    font-size: var(--font-size-5);
    text-align: center;
}

.gallery__img {
    height: 100%;
    transition: .4s;
}

.gallery__footer {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.1rem;
    background-color: var(--background-secondary-color);
    z-index: 10;
    transition: .4s;
}

.gallery__link {
    font-size: var(--font-size-5);
    color: var(--text-color-light)
}

.gallery__link:hover {
    color: var(--primary-color);
}

.gallery__link-icon {

}

/* PRICE */
.price {

}

.price__container {
    display: grid;
    row-gap: 1.2rem;
}

.price__card {
    position: relative;
    padding: .8rem 0;
    text-align: center;
    background-color: var(--background-secondary-color);
    border: none;
    transition: .4s;
}

.price__card:hover {
    transform: scale(1.03);
}

.price__title {
    margin-bottom: 1rem;
    padding: .8rem 0;
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-semibold);
    background-color: var(--primary-color);
}

.price__value {
    margin-bottom: 1rem;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-light);
}

.price__list {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-bottom: 1rem;
    font-size: var(--font-size-6);
}

.price__list-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: .4rem;
}

.price__list-icon{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

/* REVIEW */

.review {

}

.review__container {

}

.review__card {
    padding: 1rem;
    background-color: var(--background-secondary-color);
}

.review__card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.review__profile {
    display: flex;
    align-items: center;
    column-gap: .7rem;
}

.review__profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.review__profile-data {
    display: flex;
    flex-direction: column;
}

.review__profile-name {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-light);
}

.review__profile-title {
    font-size: var(--font-size-6);
}

.review__quote {
    font-size: 3rem;
    line-height: 2rem;
    /* height: 2.6rem; */
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.review__description {

}

/* CONTACT */
.contact {

}

.contact__container {
    padding-bottom: 2rem;
}


.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
}

.contact__inputs {
    display: grid;
    row-gap: .6rem;
    width: 100%;
}

.contact__input {
    padding: .5rem .7rem;
    background-color: var(--background-secondary-color);
    border: none;
    border-radius: .3rem;
    outline: none;
    color: var(--text-color-dark);
}

.contact__input::placeholder {
    color: var(--text-color-dark);
}

.contact__input--area {
    height: 12rem;
}

/* FOOTER */
.footer {
    background-color: var(--background-color);
    padding: 1rem 0 2rem;
}

.footer__container {
    display: grid;
    row-gap: 2rem;
    margin-bottom: 2rem;
}

.footer__data {

}

.footer__subtitle {
    margin-bottom: .8rem;
    font-size: var(--font-size-3);
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.footer__list-item {

}

.footer__link {
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: var(--font-size-6);
    color: var(--text-color-dark);
}

.footer__link-icon {
    color: var(--primary-color);
}

.footer__link-text {

}

.footer__copy {
    text-align: center;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: .7rem;
    background-color: hsl(0, 0%, 51%);
}

::-webkit-scrollbar-thumb {
    border-radius: .2rem;
    background-color: var(--primary-color);
}

/* MEDIA QUERIES */
/* Small screen */
@media screen and (max-width: 320px) {

}

/* Medium screen */
@media screen and (min-width: 576px) {
    .services__container {
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

    .gallery__container {
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

    .price__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 5rem 2rem 2rem;
        z-index: 100;
        background-color: var(--background-secondary-color);
        box-shadow: 0 2px 5px rgba(90, 90, 90, 0.9);
        transition: .4s;
    }
    .nav__menu--show {
        top: 0;
    }
}

@media screen and (min-width: 767px) {
    .section {

    }
    .section__title {
        font-size: var(--font-size-2);
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 1.5rem;
    }
    .nav__link {
        font-size: var(--font-size-6);
    }

    .services__container {
        grid-template-columns: repeat(3,1fr);
        gap: .7rem;
    }

    .home__title {
        font-size: var(--font-size-2);
        width: 55%;
    }

    .about__container {
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
    .about__title {
        font-size: var(--font-size-3);
    }

    .price__value {
        font-size: var(--font-size-2);
    }

    .footer__container {
        grid-template-columns: repeat(4,1fr);
        column-gap: 1rem;
    }
}

@media screen and (min-width: 968px) {
    :root {
        --font-size-1: 3.5rem;
        --font-size-2: 2.25rem;
        --font-size-3: 1.5rem;
        --font-size-4: 1.25rem;
        --font-size-5: 1rem;
        --font-size-6: .875rem;
        --font-size-7: .813rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .gallery__container {
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem;
    }

    .price__container {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .contact__inputs {
        grid-template-columns: repeat(2, 1fr);
        gap: .6rem;
    }
    .contact__input--area {
        grid-column: 1 / span 2;
    }
}